.App {
  /* border: 0px solid #bdbdbd; */
  /* box-shadow: -3px -3px 10px 10px #bdbdbd; */
  display: grid;
  grid-template-columns: 25% 15% 15% 30%;
  height: 650px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
}
.div1 {
  margin-top: 150px;
  margin-left: 50px;
  font-weight: 500;
}
.div12 {
  border: 2px solid black;
  margin-top: 10px;
  height: 370px;
  width: 350px;
  display: grid;
  grid-template-columns: 33% 33%;
  gap: 10px;
}

.div2 {
  display: grid;
  grid-template-columns: 100px;
  margin-left: 150px;
}
.div21 {
  margin-left: 20px;
  font-weight: 500;
}
.innerdiv {
  margin-top: 10px;
  margin-left: 10px;
}
.div221,
.div222,
.div223,
.div224,
.div225 {
  border: 1px solid black;
  height: 100px;
  border-radius: 50%;
}
.div221 {
  background-color: red;
  border: 2px solid #c8e6c9;
}

.div222 {
  background-color: yellow;
  border: 2px solid #ff8a65;
}
.div223 {
  background-color: blue;
  border: 2px solid #5e35b1;
}
.div224 {
  background-color: green;
  border: 2px solid #607d8b;
}
.div225 {
  background-color: black;
  border: 2px solid #9e9e9e;
}

.div31 {
  margin-top: 350px;
  margin-left: 210px;
}

.input {
  width: 150px;
  height: 30px;
  text-align: center;
}
.button {
  margin-top: 20px;
  padding: 10px 18px;
  font-weight: bold;
}
